body{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   box-sizing: border-box;
   background-color: #d1e8f2;
}

#board{
    height: 590px;
    width:650px;
    border-radius: 40px;
    background: linear-gradient(135deg,  #FF9800, #F44336); 
    border:10px solid rgb(70, 65, 65);
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75); 
}

.tile{
    height: 70px;
    width: 70px;
    margin: 5px 17px; 
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;

}
.tile:hover{
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75); 
    cursor: pointer;
}

.red-piece{
   
    background-color: #2196F3;
} 

.yellow-piece{
    
    background-color: #9C27B0;
}

